.main {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.empty-block {
    background: $bg-dark-grey;
}

.header {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: solid 2px $bg-dark-grey;
    &__logo {
        height: $header-block-height;
        width: 122px;
    }
    &__contact {
        height: $header-block-height;
        width: 280px;
        @media screen and(max-width: 1024px) {
            margin: 0 22px;
        }
    }
    &__more {
        height: $header-block-height;
        width: 512px;
        text-align: end;
        &_text {
            padding: 22px;
            color: #fff;
        }
    }
}

.content {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px $bg-dark-grey;
    &__left {
        width: 185px;
        display: inherit;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        &_bottom-block {
            width: 100%;
            height: 130px;
            bottom: 0;
        }
    }
    &__left_menu {
        background: $bg-dark-grey;
        width: 100%;
        padding: 12px 0;
        li {
            color: #fff;
            padding: 0 12px;
        }
    }
    &__center {
        margin-left: 22px;
        color: $bg-dark-grey;
        max-width: 755px;
        width: 100%;
        &_text-content {
            background: #dcdcdc;
            padding: 22px 20px;
            .text-header {
                font-weight: 700;
            }
            .text-content {
                padding: 30px 30px;
                list-style-type: square;
                li span {
                    font-weight: bold;
                }
            }
        }
        &__image-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            img {
                width: 133px;
                height: 150px;
                margin-right: 22px;
                margin-top: 22px;
                @media screen and (min-width: 1024px) {
                    &:nth-child(5n) {
                        margin-right: 0;
                    }
                }
            }
        }
        &_footer {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }
        &_text-block {
            min-height: 200px;
            max-width: 366px;
            background: #dcdcdc;
            padding: 23px;
            word-break: break-all;
            hyphens: auto;
            @media screen and (max-width: 1024px) {
                &:nth-child(1) {
                    margin-right: 20px;
                }
            }
        }
    }
}



.footer {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__block {
        width: 300px;
        height: 180px;
        background: $bg-dark-grey;
    }
    .footer-menu1 {
        li {
            color: #fff;
        }
        padding: 13px 26px;
        .menu-items {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    .footer-menu2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
            color: #fff;
            list-style-type: square;
            font-size: 20px;
            padding-left: 25px;
            span {
                font-size: 1rem;
                margin-left: -14px;
            }
        }
        @media screen and (max-width: 1024px) {
                margin: 0 20px;
        }
    }
    .last-block {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .block-item,
    .block-img {
        max-width: 300px;
        height: 75px;
        background: $bg-dark-grey;
    }
}