@import './common/variables/variables.scss';
@import './common/styles/base.scss';
body {
    margin: 0;
    list-style-type: none;
    a {
        text-decoration: none;
    }
}

* {
    box-sizing: border-box;
}