.comment-list {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo {
    margin: 0 auto;
    max-width: 990px;
    width: 100%;
    height: 20vw;
    background-image: url('./assets/images/MMMC.png');
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (min-width: 940px) {
        height: 188px;
    }
}

.comments-form {
    max-width: 800px;
    width: 90%;
}

.comments {
    overflow-x: hidden;
    ul {
        color: #29A1FF;
        font-size: 1.1rem;
        font-weight: 600;
    }
    li {
        position: relative;
        border-bottom: 1px solid #c0c0c0;
        padding-bottom: 18px;
    }
    &__date {
        position: absolute;
        right: 0;
    }
    &__delete,
    &__edit {
        position: absolute;
        width: 12px;
        height: 15px;
        right: 0;
        top: -37px;
    }
    &__edit {
        right: 35px;
    }
}

.editor {
    position: relative;
    width: 90%;
    height: 80px;
    border-right: none;
    &__button {
        position: absolute;
        height: 80px;
        width: 7%;
        min-width: 38px;
        @media screen and (max-width: 815px){
            right:0;
        }
    }
}

.comment-input {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__author,
    &__text {
        height: 30px;
        border-radius: 5px;
        border: 2px solid #C0C0C0;
        margin: 5px 0;
        font-size: 18px;
        padding-left: 5px;
        &:focus {
            border-color: #29A1FF;
        }
    }
    &__text {
        height: 200px;
    }
    &__submit {
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: #29A1FF;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        &:active {
            background-color: #277bbb;
        }
        &:hover {
            box-shadow: 0 0 5px 1px #000000bf;
        }
    }
}