@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito');
@import './variables/variables.scss';
@import './mixins/mixins.scss';
@import './assets/styles/base/base.scss';

body {
    background-color: #f9fbff;
}

a {
    text-decoration: none;
}

* {
    box-sizing: content-box;
}